<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página principal</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="titles">
    <h1>Paneles Solares</h1>
    <h2>Energía renovable</h2>
  </div>

  <div class="overlay">
    <div class="center-box">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ante odio, elementum eget turpis ut, aliquam bibendum quam. Vivamus pharetra neque sit amet consectetur tincidunt. Ut sapien dui, dapibus et aliquet id, lacinia eget lorem. Donec sodales libero dictum dolor mollis cursus. Nullam ornare libero risus, nec venenatis leo luctus sed. Ut tempus et ipsum vel venenatis. Etiam turpis eros, bibendum ut arcu vitae, vestibulum molestie neque. Nulla facilisi. Sed imperdiet elementum consequat. Suspendisse sed quam laoreet, posuere sem sed, scelerisque lacus. Nullam vitae egestas eros, eget laoreet elit. Aliquam ultricies metus a porta auctor. Quisque in iaculis urna. Morbi lectus ipsum, posuere euismod felis egestas, feugiat cursus justo. Mauris venenatis urna lorem, fermentum porta nulla aliquam at. Vestibulum eu rutrum sem, ut suscipit augue.</p>
    </div>
    <button class="chatbot-btn">Chatbot</button>
  </div>
</body>
</html>