<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página principal</title>
  <link rel="stylesheet" href="static/style.css">
  <link rel="icon" type="image/png" href="static/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="static/favicon.svg" />
  <link rel="shortcut icon" href="static/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png" />
  <link rel="manifest" href="static/site.webmanifest" />
</head>
<body>
  <div class="titles">
    <h1>Paneles Solares</h1>
    <h2>Energía renovable</h2>
  </div>

  <div class="overlay">
    <div class="center-box">
      <p>Ante los efectos negativos de las fuentes de energía no renovables, la energía solar se consolida como una opción sustentable que permite a hogares, empresas y ciudades realizar sus actividades diarias de forma más ecológica, impulsar proyectos sostenibles, disminuir el uso de energía eléctrica convencional y fomentar el desarrollo tecnológico.</p>
    </div>
    <button class="chatbot-btn">Chatbot</button>
  </div>
</body>
</html>